{% extends 'front.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

    <div class="row">
        {% for r in reclamations %}
            <div class="col-lg-3 col-sm-6" style="background: blue">
                <div class="box ">  
                    <div class="img-box">
                        <img src="{{ asset('Upload/')}}{{ r.image }}" class="img1" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            {{ r.sujet }}
                        </h5>
                        <p>
                            {{ r.contenue }}
                        </p>
                    </div>
                    <div class="social_box">
                        <a class="btn btn-primary" href="{{ path('app_reclamation_edit', {'idReclamation': r.idReclamation}) }}">Edit</a>
                        <a class="btn btn-danger" href="{{ path('deleteReclamation', {'id': r.idReclamation}) }}">Delte</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
