{% extends 'back.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#rech tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">

    <table class="table">
        <thead>
        <tr>
            <th>Sujet</th>
            <th>Contenue</th>
            <th>User</th>
            <th>dateenv</th>
            <th>Image</th>
            <th>Etat</th>
            <th>Type</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody id="rech">
        {% for r in reclamations %}
            <tr>
                <td>{{ r.sujet }}</td>
                <td>{{ r.contenue }}</td>
                <td>{{ r.idUser.nom }}</td>
                <td>{{ r.dateenv ? r.dateenv|date('Y-m-d') : '' }}</td>
                <td><img src="{{ asset('Upload/')}}{{ r.image }}" width="100" class="img-circle" /></td>
                <td>{{ r.etat }}</td>
                <td>{{ r.type }}</td>
                <td>
                    {% if r.etat == "en attente" %}
                    <a class="btn btn-danger" href="{{ path('app_reclamation_showRecbyId', {'id': r.idReclamation}) }}">Repondre</a>
                   {% else %}
                    <a class="btn btn-primary" href="{{ path('app_reclamation_showRecbyId', {'id': r.idReclamation}) }}">Consulter</a>
                  {% endif %}
                    <a class="btn btn-primary" href="{{ path('pdf', {'id': r.idReclamation}) }}">PDF</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
